* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: rgb(17, 17, 17);
  height: 100vh;
}

#section2 {
  height: 600px;
  background-color: rgb(36, 36, 36);
  height: 100vh;
}

#section3 {
  height: 600px;
  background-color: rgb(53, 53, 53);
  height: 100vh;
}

#section4 {
  height: 600px;
  background-color: rgb(65, 65, 65);
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

li a {
  display: block;
  color: #444;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Deel1 {
  background-color: black;
  width: 100vw;
}

.Deel2 {
  background-color: rgb(36, 36, 36);
  width: 100vw;
}

.Deel3 {
  background-color: rgb(53, 53, 53);
  width: 100vw;
}

.Deel4 {
  background-color: rgb(65, 65, 65);
  width: 100vw;
}
